<!DOCTYPE html>
<html>
  <head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>client will come here</h1>
    <!--
    <iframe src='https://webchat.botframework.com/embed/moneytorbot1?s=89Bq0CoGGX8.cwA.TVs.mSO6ufWlw5Jp5e1wGLzN8h30CLP6L-M6E4fmepLAk8U'></iframe>
    -->
    <script>
    (function () {
    var div = document.createElement("div");
    document.getElementsByTagName('body')[0].appendChild(div);
    div.outerHTML = `
      <div id='botDiv' style='height: 38px; position: fixed; bottom: 0; z-index: 1000'>
        <div id='botTitleBar' style='height: 38px; width: 400px; position:fixed; cursor: pointer;'></div>
        <iframe width='400px' height='600px' src='https://webchat.botframework.com/embed/moneytorbot1?s=89Bq0CoGGX8.cwA.TVs.mSO6ufWlw5Jp5e1wGLzN8h30CLP6L-M6E4fmepLAk8U'></iframe>
      </div>`; 

    document.querySelector('body').addEventListener('click', function (e) {
        e.target.matches = e.target.matches || e.target.msMatchesSelector;
        if (e.target.matches('#botTitleBar')) { 
            var botDiv = document.querySelector('#botDiv'); 
            botDiv.style.height = botDiv.style.height == '600px' ? '38px' : '600px';
        };
    });
}());
    </script>
  </body>
</html>
